body {
  font-family: "Nanum Myeongjo", serif;
}
#canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#rightsreserved {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
